@import "tailwindcss";


@theme {
  /* 2. Seu tema Feeder - Mantenha exatamente assim */
  --color-primary: #1E4E79;
  --color-secondary: #29679f;
  --color-accent: #ffc107;
  --color-neutral: #2D3748;
  
  --color-base-100: #ffffff;
  --color-base-200: #f3f2f3;
  --color-base-300: #d1d5db;
  --color-base-content: #1f2937;
  
  --color-info: #3398fe;
  --color-success: #166534;
  --color-warning: #B45309;
  --color-error: #991b1b;

--breakpoint-xs: 1px;
  --breakpoint-tab: 576px;
  --breakpoint-lap: 1024px;
  --breakpoint-des: 1900px;
  --breakpoint-ult: 2400px;
  --font-sans: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

@layer base {
  * { font-family: var(--font-sans); }
}

/* Suas tabelas */
.table>thead>tr>th { @apply text-blue-800 font-bold; }
.table-striped, .table-striped>tbody>tr { @apply border border-gray-300; }